.wrapper {
  width: 120px;
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  background-color: rgb(243, 237, 237);
  border-radius: 20px;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
}

.article {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.text {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
}
.item {
  font-size: 19px;
  font-weight: 500;
}

.item:first-child {
  margin-bottom: 10px;
}
