.article {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.text {
  font-size: 19px;
  font-weight: 400;
}
.item {
  font-size: 19px;
  font-weight: 500;
}

.item:first-child {
  margin-bottom: 10px;
}
